<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-FILRQa4B7Arp0akvQR-JNLe7Z_SSaHA</string>
	<key>GCM_SENDER_ID</key>
	<string>211241996401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.OxPower</string>
	<key>PROJECT_ID</key>
	<string>aafun-c1b8d</string>
	<key>STORAGE_BUCKET</key>
	<string>aafun-c1b8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211241996401:ios:0ff60695c079a7e415cbd0</string>
</dict>
</plist>